{% extends "base.html" %}
{% block page_content %}
    <h2 class="sub-header">用户管理</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>用户id</th>
                <th>用户名</th>
                <th>所属组</th>
                <th>组长</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% if current_user.role.is_admin == 1 or (user.is_active == 1 and user.group == current_user.group) %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.group.group_name }}</td>
                        <td>{% if user.is_manager %}是{% else %}否{% endif %}</td>
                        <td>{{ user.create_time }}</td>
                        <td>{{ user.update_time }}</td>
                        {% if current_user.is_manager == 1 %}
                            <td><a href="{{ url_for('action.edit_user', id=user.id) }}">
                                <button type="button" class="btn btn-primary">编辑</button>
                            </a></td>
                            <td><a href="{{ url_for('action.delete_user', id=user.id) }}">
                                <button type="button" class="btn btn-danger" onclick="return del()">删除</button>
                            </a></td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            {#            <tr>#}
            {#                <td>1</td>#}
            {#                <td>普通用户</td>#}
            {#                <td>中台</td>#}
            {#                <td>只是一个普通的使用者</td>#}
            {#                <td>否</td>#}
            {#                <th><a id="edit" href="#">编辑</a></th>#}
            {#            </tr>#}
            {#            <tr>#}
            {#                <td>2</td>#}
            {#                <td>管理员</td>#}
            {#                <td>中台</td>#}
            {#                <td>这是管理员</td>#}
            {#                <td>是</td>#}
            {#                <td>删除</td>#}
            {#            </tr>#}
            </tbody>
        </table>
        <script>
            var status = 0;
            var edit = document.getElementById('edit');
            var item = document.getElementsByTagName('td');
            var item_length = item.length - 1
            var item_value = new Array(item_length);

            for (i = 0; i < item_length; i++) {
                item_value[i] = item[i].innerHTML;
            }

            edit.onclick = function () {
                if (status == 0) {
                    edit.innerHTML = '保存';
                    for (i = 0; i < item_length; i++) {
                        item[i].innerHTML = '<input type="txt" style="width: 5%" class="item_input" value="' + item_value[i] + '">';
                    }
                    status = 1;
                } else {
                    edit.innerHTML = '编辑';
                    var item_input = document.getElementsByClassName('item_input');
                    for (i = 0; i < item_length; i++) {
                        item_value[i] = item_input[i].value;
                    }
                    for (i = 0; i < item_length; i++) {
                        item[i].innerHTML = item_value[i];
                    }
                    status = 0
                }
                return false;
            }
        </script>
    </div>
    <input type="text" style="width: 5%" class="item_input" value="123">
    <script type="text/javascript">
        function del() {
            if (!confirm("确认删除?")) {
                window.event.returnValue = false;
            }
        }
    </script>
{% endblock %}
