<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>this is No.1 title</h1>
    <p>this is duanluo</p>
    <a href="www.baidu.com">blink link</a>
    <ul>
        <li>name
            <ul>
                <li>Tom</li>
                <li>Jack</li>
                <li>Jim</li>
            </ul>
        </li>
        <li>age</li>
        <li>sex</li>
    </ul>
    <ol type="A">
        <li>Tom</li>
        <li>Jerry</li>
        <li>Lily</li>
    </ol>
    <table border="1">
        <tr>
            <th>name</th>
            <th>age</th>
            <th>home</th>
        </tr>
        <tr>
            <td rowspan="2">jimmy</td>
            <td colspan="2">18</td>
        </tr>
        <tr>
            <td>24</td>
            <td>wer</td>
        </tr>
    </table>

<h1>Hello, {{ name|title }}</h1>

</body>
</html>